.card-one {
  border: 1px solid #192f1f;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-right: 200px;
  margin-left: 200px;
  background-color: #d8fde5;
}

body {
  background-color: #4eb473;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.form-playlist {
  text-align: center;
  border: 1px solid #192f1f;
  border-radius: 10px;
  text-align: center;
  background-color: #8be4aa;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 200px;
  margin-left: 200px;
}

.playlist h1 {
  margin-top: 30px;
  text-align: center;
}

.form-playlist input {
  height: 40px;
  width: 230px;
  background-color: #d8fde5;
  border-radius: 4px;
  margin-top: 5px;
}

.form-playlist textarea {
  height: 40px;
  width: 230px;
  background-color:#d8fde5;
  border-radius: 4px;
  margin-top: 5px;
}

input {
  height: 40px;
  width: 230px;
  background-color: #d8fde5;
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #3f6d4f;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer
}

.profile button{
  border: 1px solid hsl(0, 0%, 99%);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #32754a;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer
}

button:hover {
  background-color: #d8fde5;
  color: black;
  border: 2px solid black;
}

.card-search img {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 18%;
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.card-search {
  border: 1px solid #192f1f;
  border-radius: 10px;
  text-align: center;
  background-color: #95e2b0;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 200px;
  margin-left: 200px;
  
}

.card-search h1{
  font-size: 23px;
  padding-top: 2px;
  margin-top: 20px;
}

.card-search h3{
  margin-top: -5px;
  font-size: 23px;
}

.card-search h2{
  margin-top: -5px;
  font-size: 18px;
}


.card-login {
  border: 1px solid #192f1f;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: #d8fde5;
}

.container hr {
  margin-top: 40px;
}