body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191414;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, p, label {
  color: white;
}

li {
  list-style: none;
}

input {
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 16px;
  width: 300px;
}

.home, .create-playlist {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-item {
  display: grid;
  grid-template-columns: minmax(180px, 30%) 1fr;
  border-radius: 10px;
  padding: 10px 20px;
}

.grid-item:hover {
  background-color: rgb(85, 83, 83);
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 20px;
  text-align: start;
  justify-content: space-between;
}

.btn {
  background-color: #1DB954; 
  border: none;
  color: white;
  padding: 15px;
  margin: 0 auto;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px; 
  width: 100px; 
  border-radius: 40px;
}

.submit {
  border-radius: 20px;
  width: 150px;
}

.search {
  margin: 30px 10px;
}

.selected {
  background-color: #191414;
  color: white;
  opacity: 0.9;
  border: white 1px solid;
  width: 50%;
}

.unselected {
  background-color: #1DB954;
  color: white;
  opacity: 0.9;
  width: 50%;
}

.selected:hover, .unselected:hover {
  opacity: 1.0;
}

.profile {
  width: 100%;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.img-container {
  margin: 10px auto;
}

.img-container img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.playlist-form input{
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  color: black;
}

.playlist-form textarea {
  width: 300px;
  height: 150px;
  margin: 15px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif
}

.description .title {
  font-size: 16px;
  font-weight: bold;
}